@font-face {
    font-family: 'black';
    src: url('../fonts/msjhbd.ttf');
}

body{
	width : 100%;
	margin : 0;
	font-family : 'black';
}


nav{
	width:100%;
	min-width:1200px;
	position:fixed;
	top:0px;
	height:67px;
	background-color:#3f3f3f;
	z-index:200;		
}
.leftnav{
	float:left;
	font-size:1.1em;
	font-weight:bold;
	margin-top:23px;
	margin-left:13%;
}.rightnav{
	float:right;
	font-size:1em;
	font-weight:bold;
	margin-top:25px;
	margin-right:13%;
}
.rightnav span{
	margin:20px;
}

nav a{text-decoration:none;}
nav a:link{color:white;}
nav a:hover{color: white;	text-decoration:underline}      
nav a:visited {	color: white;}　
nav a:active{color: white;}


.content{
	margin-left:13%;
	margin-right:14%;
}


.startPage_content{
	display: inline-block;
}
#startPage{
	width:100%;
	min-width:1200px;
	background-color:#0c54a5;
	height:450px;
	padding-top:290px;	
	color:white;	
}
#myPic{
	width:140px;
	margin-bottom: 20px;
}
#start_Name{
	font-size:31px;
	font-weight:bold;
	margin-bottom: 10px;
}
.start_subtitle{
	font-size:19px;
	font-weight:bold;
}

#aboutMe{
	min-width:1200px;
	height:600px;
	padding-top:100px;
	background-color:#ffffff;	
}
.aboutMe_title{
	float:left;
	margin-top:170px;
	font-size:50pt;
	font-weight:bold;
	color:#0c54a5;	
}
.aboutMe_content_right{
	width:480px;
	float:right;
	margin-left:10px;
	margin-top:120px;
	font-size:13pt;
	font-weight:900;
	letter-spacing:1.4px;
	line-height: 28px;
	color:#333333;
}


#skill_and_exp{
	min-width:1200px;
	height:850px;
	background-color:#e8e7e7;
	padding-top:60px;
}

.skill{
	float:left;
	/*padding-top:20px;*/
	width : 55%;
}
.skill_title{
	padding-top:50px;
	font-size:50pt;
	font-weight:bold;
	color:#333333;
	margin-bottom: 20px;
}
.skill_content{
	color:#333333;
	font-weight:900;
	line-height: 25px;
}
.skill_type{
	font-size:13pt;
	letter-spacing:1.1px;	
}
.skill_details{
	font-size:11pt;
	letter-spacing:0.2px;	
	margin-bottom: 20px;
}

.exp{
	float:right;
	/*padding-top:20px;*/
	width : 45%;
}
.exp_title{
	padding-top:50px;
	font-size:50pt;
	font-weight:bold;
	color:#333333;
	margin-bottom: 20px;
}
.exp_content{
	color:#333333;
	font-weight:900;
	line-height: 25px;
}
.a_type_of_exp{
	margin-bottom: 20px;
}
.exp_type{
	font-size:13pt;
	letter-spacing:1.1px;	
}
.exp_details{
	font-size:11pt;
	letter-spacing:0.2px;	
}


#workStartPage{
	min-width:1200px;
	height:450px;
	padding-top:220px;	
	background-color:#0c54a5;
}
.workStart_title{
	font-size:75px;
	font-weight:bold;
	color:#ffffff;
}
#myWork{
	width:400px;
	margin:0 auto;
}
#collection{
	width:550px;
	margin:0 auto;
}
.workStartPage_content{
	width:650px;
	margin:0 auto;
	margin-top:30px;
}
.workStartPage_content div{
	display:inline;
	margin:10px;
	font-size:1.1em;
	font-weight:bold;
	color:white;
}

#workCollections{
	min-width:1200px;
	padding-top:80px;
	height:1550px;
	background-color:#EDEDED;
}

.workCubeTitle{
	margin-left:1%;
	margin-bottom: 10px;
	font-size:1.6em;
	font-weight : bold;
}
.workCubeSubTitle div{
	display:inline;
	font-size:1em;
	font-weight : bold;
}
.workCubeSubTitle{
	margin-bottom: 20px;
	margin-left: 1%;
}

.workCubeSubTitle a{text-decoration:none;}
.workCubeSubTitle a:link{color: #131313;}
.workCubeSubTitle a:hover{color: #131313;	text-decoration:underline}      
.workCubeSubTitle a:visited {color: #131313;}　
.workCubeSubTitle a:active{color: #131313;}

.workCubeContent{
	margin: 0 auto;
	text-align: center;	
}

.item img{
	width: 100%;					
}
.item {
	display: inline-block;
	width: 23.5%;
	height: 230px;
	margin: 5px;
	position:relative;
	float: left;	
}

.item-hover,
.item-hover .mask,
.item-img,
.item-info {
	width: 100%;
	height: 230px;
}

.item-info {
	top:50%; 
	left:0;
}

.item-hover,
.item-hover .mask,
.item-img { 
	position:absolute;
	top:0;
	left:0;			
}

.left-29{
	left:29%;
}
.left-38{
	left:38%;
}
.left-42{
	left:42%;
}
.left-48{
	left:48%;
}
.left-50{
	left:50%;
}
.left-53{
	left:53%;
}
.left-66{
	left:68%;
}
.left-80{
	left:80%;
}
.left-125{
	left:125%;
}
.left-180{
	left:180%;
}

.item-type-line .item-hover {	
	z-index:100;	
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;	
	opacity:0;
	cursor:pointer;						
	display:block;
	text-decoration:none;
	text-align:center;
}

.item-type-line .item-info {
	z-index:10;
	color:#ffffff;
	display:table-cell;
	vertical-align:middle;
	position:relative;
	z-index:5;				 					
}

.item-type-line .item-info .line {
	height:1px;
	width:0%;
	margin:15px auto;
	background-color:#ffffff;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;					 

}

.item-type-line .item-hover .mask {
	background-color:#000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);										
	opacity:0.75;
	z-index:0;
}

.item-type-line .item-hover:hover .line {
	width:40%;
}
.item-type-line .item-info .date {
	font-size:12px;
}
.item-type-line .item-hover:hover {
	opacity:1;
}				

.item-img {			
	z-index:0;			
}

footer{
	width:100%;
	min-width:1200px;
	height:50px;
	background-color:#202020;
}
#footerText{
	color:#FFFFFF;
	width:150px;
	margin:0 auto;
	padding-top:15px;
	font-size:10pt;
}

















