@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/

body{
	font-family : 'Noto Sans TC', sans-serif;
}


nav{
	font-family : 'Noto Sans TC', sans-serif;
	position : fixed;
	background-color : #3f3f3f;
	z-index : 200;		
}
.leftnav{
	position : relative;
	float : left;
	font-weight : bold;
}

.rightnav{
	position : relative;
	float : right;
	font-weight : bold;
	background-color: #3f3f3f;
}

.menu{
	position : relative;
	float : right;
	font-weight : bold;
	z-index: 201;
}

nav a{text-decoration:none;}
nav a:link{color: #ffffff;}
nav a:visited {	color: #ffffff;}　
nav a:active{color: #ffffff;}
nav a:hover{color: #dddddd;}      



.content{
	margin : 0 auto;
}

#startPage {
	background-color : #0c54a5;
}
#startPage .content {
	position : relative;
	color : white;
}

#start_Name{
	font-weight : bold;
}
.start_subtitle{
	font-weight : bold;
}

#aboutMe,
#aboutMe .content {
	background-color : #ffffff;	
}
.aboutMe_title{
	color : #0c54a5;
	position : relative;	
	font-weight:bold;
}
.aboutMe_content_right{
	color : #333333;
	position : relative;	
	font-weight : bold;
}


#skill_and_exp {
	background-color: #e8e7e7;
}

#skill_and_exp .content {
	position : relative;
}

.skill{
	position : relative;
	float : left;
}

.skill_title{
	position : relative;
	font-weight : bold;
	color : #333333;
}
.skill_content{
	color : #333333;
}

.exp{
	position : relative;
	float : right;
}
.exp_title{
	font-weight : bold;
	color:#333333;
}
.exp_content{
	color : #333333;
}

#workStartPage{
	background-color : #0c54a5;
	text-align : center;
}
#workStartPage .content {
	position : relative;
}
.workStart_title{
	font-weight : bold;
	color : #ffffff;
}
#myWork,
#collection {
	margin : 0 auto;
}

.workStartPage_content {
	margin : 0 auto;
}
.workStartPage_content div {
	display : inline-block;
	font-weight : bold;
	color : white;
}

#workCollections {
	background-color : #EDEDED;
}
#workCollections .content {
	position : relative;
}
.workCubeTitle,
.workCubeSubTitle {
	position : relative;
}

.workCubeTitle {
	font-weight : bold;
}
.workCubeSubTitle{
}
.workCubeSubTitle div{
	display : inline;
	font-weight : bold;
}


.workCubeSubTitle a{text-decoration:none;}
.workCubeSubTitle a:link{color: #131313;}
.workCubeSubTitle a:hover{color: #131313;	text-decoration:underline}      
.workCubeSubTitle a:visited {color: #131313;}　
.workCubeSubTitle a:active{color: #131313;}

.item,
.item img,
.item .mask {
}

.item img{
	width: 100%;					
}
.item {
	display: inline-block;
	position : relative;
	float : left;
	background : white;
}

.item-hover,
.mask,
.item-img { 
	position : absolute;
	top : 0;
	left : 0;
}

.item-hover {	
	z-index : 100;	
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;	
	opacity:0;
	cursor:pointer;						
	display:block;
	text-decoration:none;
	text-align:center;
}

.mask {
	background-color:#9e9e9e;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);										
	opacity:0.2;
	z-index:0;
}

.item-hover:hover {
	opacity:1;
}				

.item-img {			
	z-index:0;			
}

.item-info {
	position : relative;
}

.item-info-tag{
	display : inline-block;
	color: #AAAAAA;
}
.item-info-title{
	font-weight: bold;
	color : #2B2B2B;
}
.item-info-content{
	font-weight: normal;
	color : #444;
}

.popup {
	/*padding-right: 15px;*/
}

.popup_img {
	text-align: center;
}

.popup_img img{
}

.popup_title1,
.popup_tag,
.popup_content {
}

.popup_title1 {
}

.popup_tag {
	color: #616161;
}

.popup_title2,
.popup_title3,
.popup_content {
	color: #404040;
}

.popup_title3,
.popup_content {
}

.popup_title3 {
}

.popup_title2 {
	font-weight: bold;
}

.popup_content {
}

.popup_content1 {	
}

.popup_team {
}

.hot_spring_care_img_g1 img{
	display: inline;
}
.hot_spring_care_img_g1 {
	display: inline;
}

.app_popup_content {
	text-align: center;
}

.app_tag {
}

.app_index,
.app_index_img {
	padding: 0;
	margin: 0;
}

.app_index_img {
}

.app_intro_title {
}
.app_content_img {
	margin: 0;
	padding: 0;
}

.popup_content_center {
	text-align: center;
}

.min_250_normal_50 img{
}
footer{
	background-color:#202020;
}
#footerText{
	color:#FFFFFF;
}



















